.modal {
    width: 270px;
    height: 200px;
    background-color: #fff;
    position: absolute;
    top: 20%;
    z-index: 1000;
    padding: 1rem;
    transition: all .3s;
    animation-name: animate;
    animation-duration: .6s;
    border-radius: 8px;


}

.modal::after {
    content: '';
    position: absolute;
    top: 99%;
    left: 0;
    border: 135px solid transparent;
    border-top: 50px solid #fff;
    border-radius: 5px;

}

.title {
    font-weight: bold !important;
    font-size: 1.2rem !important;
}

.btn {
    display: flex;
    align-items: center;
}

@keyframes animate {
    from {
        transform: translateY(5%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}



@media only screen and (max-width: 959px) {
    .modal {
        position: absolute;
        top: 25%;
        width: 250px;
        height: 180px;

    }

    .modal::after {
        content: '';
        position: absolute;
        top: 98%;
        left: 0;
        border: 125px solid transparent;
        border-top: 50px solid #fff;
        border-radius: 5px;
    }

    .text {
        font-size: .9rem !important;
    }
}

@media only screen and (max-width: 571px) {
    .modal {
        position: absolute;
        top: 58%;
        width: 250px;
        height: 180px;

    }
}

@media only screen and (max-width: 470px) {
    .modal {
        position: absolute;
        top: 60%;
        width: 250px;
        height: 180px;

    }
}